@font-face {
    font-family: 'Milliard Book';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Book.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Book Italic';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Book_Italic.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Hairline';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Hairline.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Hairline Italic';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Hairline_Italic.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Thin';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Thin.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Thin_Italic.woff') format('woff');
}


@font-face {
    font-family: 'Milliard ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_ExtraLight.woff') format('woff');
}


@font-face {
    font-family: 'Milliard ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_ExtraLight_Italic.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Light';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Light.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Light Italic';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Light_Italic.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Medium';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Medium.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Medium_Italic.woff') format('woff');
}


@font-face {
    font-family: 'Milliard SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_SemiBold.woff') format('woff');
}


@font-face {
    font-family: 'Milliard SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_SemiBold_Italic.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Bold';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Bold.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Bold_Italic.woff') format('woff');
}


@font-face {
    font-family: 'Milliard ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_ExtraBold.woff') format('woff');
}


@font-face {
    font-family: 'Milliard ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_ExtraBold_Italic.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Heavy';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Heavy.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Heavy_Italic.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Black';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Black.woff') format('woff');
}


@font-face {
    font-family: 'Milliard Black Italic';
    font-style: normal;
    font-weight: normal;
    src: url('Milliard_Black_Italic.woff') format('woff');
}