@attribute [StreamRendering(true)]

<div class="placeholder-container">
    <div class="card-image line">
    </div>
    <div class="card-actions">
        <div class="card-actions_text">
            <h3 class="line">&nbsp;</h3>
            <div class="line">&nbsp;</div>
        </div>
        <div class="card-action_button line" href="#">
            <span>&nbsp;</span>
        </div>
    </div>
</div>

@code {

}
