<div class="navbar-brand d-flex align-items-center">
    <img 
        src="img/TheBot3-256x.png"
        alt="THEEBoT"
        class="rounded-circle"
        width="40"
        height="40">

    <NavLink class="nav-link px-2" href="/">THEEBoT</NavLink>
</div>